.container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    flex: 100%;
    min-height: 100vh;
    background-position: center;
    padding-bottom: 5rem;
    padding-top: 15rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 120em) {
    .container {
        background-image: url("../images/background-large.jpg");
    }
}

@media only screen and (max-width: 75em) {
    .container {
        background-image: url("../images/background-medium.jpg");
    }
}

@media only screen and (max-width: 43.75em) {
    .container {
        background-image: url("../images/background-small.jpg");
    }
}

.filter {
    transition: all 0.15s linear;
}

.filter::after {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.moving-clouds {
    background-image: url("../images/clouds.png");
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 300%;
    height: 100%;
    animation: clouds 80s linear infinite;
}

@media only screen and (max-width: 56.52em) {
    .moving-clouds {
        background-image: url("../images/clouds-small.png");
    }
}

.container__fog {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%);
    opacity: 0.85;
    z-index: 1;
}

.bird {
    background-image: url("../images/bird-cells.svg");
    background-size: auto 100%;
    width: 88px;
    height: 125px;
    will-change: background-position;
    animation-name: fly-cycle;
    animation-timing-function: steps(10);
    animation-iteration-count: infinite;
}

.bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s;
}

.bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}

.bird--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}

.bird--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}

.bird-container {
    position: absolute;
    top: 20%;
    left: -10%;
    transform: scale(0) translateX(-10vw);
    will-change: transform;
    animation-name: fly-right-one;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.bird-container--one {
    animation-duration: 15s;
    animation-delay: 0;
}

.bird-container--two {
    animation-duration: 16s;
    animation-delay: 1s;
}

.bird-container--three {
    animation-duration: 14.6s;
    animation-delay: 9.5s;
}

.bird-container--four {
    animation-duration: 16s;
    animation-delay: 10.25s;
}